.TablaDevoluciones{
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    // font-weight: 600;

    .form-control:focus {
        color: #495057;
        background-color: #fff;
         border-color: none;
        outline: 0;
         box-shadow: none;
         
    }
    

    td :focus{
        outline: none;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 600;
    }
    input :focus{
        outline:none;
    }

    .react-bootstrap-table-pagination{
        padding: 10px !important;
    }

    .table {
        overflow: scroll;
        display: block;
        table-layout: fixed !important;
        width: auto;
        // position: relative;
        }
    .react-bootstrap-table-pagination-total{
        padding: 10px !important;
    }
    th{
        position: sticky;
        top: 0;
        font-weight: 500;
    }

    .header{
        display: flex;
        font-weight: 500;

        
    }
    .hide{
        display:none;
    }

    .tooltip {
  position: relative;
  display: inline-block;
  
  width: -webkit-fill-available;
}
.copyIcon{
    padding-left: 5px;
    cursor: pointer;
    float:right ;
}
.copyIcon :hover{
    color: rgb(0, 120, 212);
    text-decoration: underline;

}
.tooltip:hover .copyIcon {
    visibility: visible;
    opacity: 1;

}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -18%;
  left: 16%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

// .tooltip .tooltiptext::after {
//   content: "";
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   margin-left: -5px;
//   border-width: 5px;
//   border-style: solid;
//   border-color: #555 transparent transparent transparent;
// }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  
}
    // input{
    //     border: none;
    //     border-bottom: 1px solid #00000033;
    //     border-radius: 0%;
    //     text-overflow: ellipsis;
    //     padding-left: inherit;
    //     background-color: #f8f9fa;
    // }
    
    .linkCell{
        display: flex;
        i{
            padding-right: 10px;
        }
    }
    .header label{
        padding-right: 5px;
    }

    .check :focus{
        align-self: center;
    }
    .react-bootstrap-table-editing-cell{
        text-align: center;
    }

    button:focus {
        
        outline: none;
    }
} 



